﻿@page "/fetchdata"

@using FirstProjectIndigo.Data
@using FirstProjectIndigo.Services
@using Microsoft.EntityFrameworkCore
@using Telerik.Blazor.Components

@inject BillingInfoService BillingInfoService
@inject UserService UserService
@inject IDbContextFactory<UserManagerDbContext> ContextFactory
<TelerikGrid Data=@Users
             OnDelete="@DeleteHandler"
             OnCreate="@CreateHandler"
             Pageable="true"
             Sortable="true"
             FilterMode="GridFilterMode.FilterMenu"
             Resizable="true"
             Reorderable="true"
             SelectionMode="GridSelectionMode.Multiple"
             PageSize="5"
             EditMode="GridEditMode.Popup"
             Navigable="true">
    <DetailTemplate>
        @{
            var user = context as User;
            <TelerikGrid Data="user.BillingInformations"
                         OnDelete="@DeleteHandlerBill"
                         OnCreate="@CreateHandlerBill"
                         Pageable="true"
                         Sortable="true"
                         FilterMode="GridFilterMode.FilterMenu"
                         Resizable="true"
                         Reorderable="true"
                         PageSize="5">
                <GridColumns>
                    <GridColumn Field="@nameof(BillingInformation.Name)"></GridColumn>
                    <GridColumn Field="@nameof(BillingInformation.Adress)"></GridColumn>
                    <GridColumn Field="@nameof(BillingInformation.PostCode)"></GridColumn>
                    <GridColumn Field="@nameof(BillingInformation.City)"></GridColumn>
                    <GridColumn Field="@nameof(BillingInformation.Country)"></GridColumn>
                    <GridColumn Field="@nameof(BillingInformation.BTWNumber)"></GridColumn>
                    <GridColumn Field="@nameof(BillingInformation.Email)"></GridColumn>
                    <GridColumn Field="@nameof(BillingInformation.ReceiveByMail)"></GridColumn>
                    <GridCommandColumn Width="190px">
                        <GridCommandButton Command="Save" Icon="save" ShowInEdit="true">Save</GridCommandButton>
                        <GridCommandButton Command="Delete" Icon="delete">Delete</GridCommandButton>
                        <GridCommandButton Command="Cancel" Icon="cancel" ShowInEdit="true">Cancel</GridCommandButton>
                    </GridCommandColumn>
                </GridColumns>
                <GridToolBar>
                    <GridCommandButton Command="Add" Icon="add">Add billing info (not implemented)</GridCommandButton>
                </GridToolBar>
            </TelerikGrid>
        }
    </DetailTemplate>
    <GridColumns>
        <GridColumn Field="@nameof(User.Name)" />
        <GridColumn Field="@nameof(User.Adress)" />
        <GridColumn Field="@nameof(User.PostCode)" />
        <GridColumn Field="@nameof(User.City)" />
        <GridColumn Field="@nameof(User.Country)" />
        <GridColumn Field="@nameof(User.BTWNumber)" />
        <GridColumn Field="@nameof(User.Email)" />
        <GridColumn Field="@nameof(User.StartDate)" />
        <GridCommandColumn Width="190px">
            <GridCommandButton Command="Save" Icon="save" ShowInEdit="true">Save</GridCommandButton>
            <GridCommandButton Command="Delete" Icon="delete">Delete</GridCommandButton>
            <GridCommandButton Command="Cancel" Icon="cancel" ShowInEdit="true">Cancel</GridCommandButton>
        </GridCommandColumn>
    </GridColumns>
    <GridToolBar>
        <GridCommandButton Command="Add" Icon="add">Add User</GridCommandButton>
    </GridToolBar>
</TelerikGrid>

@code {
    public List<User> Users { get; set; }
    private bool DataLoading = false;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        if (DataLoading)
        {
            return;
        }
        try
        {
            DataLoading = true;
            Users = await UserService.GetUsersAsync();
        }
        catch (Exception)
        {
            throw;
        }
        finally
        {
            DataLoading = false;
        }
    }

    public async Task DeleteHandler(GridCommandEventArgs args)
    {
        try
        {
            var toDeleteUser = (User)args.Item;
            await UserService.DeleteUser(toDeleteUser);
            Users.Remove(toDeleteUser);
        }
        catch (Exception)
        {
            throw;
        }
    }
    public async Task DeleteHandlerBill(GridCommandEventArgs args)
    {
        try
        {
            var toDeleteBillingInfo = (BillingInformation)args.Item;
            await BillingInfoService.DeleteBillingInfo(toDeleteBillingInfo);
            StateHasChanged();
        }
        catch (Exception)
        {
            throw;
        }
    }

    public async Task CreateHandler(GridCommandEventArgs args)
    {
        try
        {
            var toAddUser = (User)args.Item;
            var user = await UserService.AddUserAsync(toAddUser);
            Users.Insert(0, user);
        }
        catch (Exception)
        {
            throw;
        }
    }
    public async Task CreateHandlerBill(GridCommandEventArgs args)
    {
        try
        {
            var toAddBill = (BillingInformation)args.Item;
            var billInfo = await BillingInfoService.AddBillingAsync(toAddBill);
        }
        catch (Exception)
        {
            throw;
        }
    }
}
