﻿@page "/"

<header>
    <h1>User management tool</h1>
</header>
<TelerikButton OnClick="@ShowToDoHandler" Primary="true">Show ToDo's</TelerikButton>

@showToDoString

@code {
    MarkupString showToDoString;

    void ShowToDoHandler()
    {
        string msg = string.Format("<br /><strong>To be done:</strong> <br /><ul><li>Select country dropdown</li><li>Add new billing info</li></ul>");
        showToDoString = new MarkupString(msg);
    }
}
