﻿@inherits LayoutComponentBase
@using Telerik.Blazor.Components 
<TelerikRootComponent>
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://www.linkedin.com/in/lukas-petit-29395b184/" target="_blank">Linked In</a>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</TelerikRootComponent>
